.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect
README.md
now.json
preamble.tex
style.css
toc.css
packages.bib
P2-rapport.aux
P2-rapoort.pdf
P2-rapport.Rmd
P2-rapport.tex
P2-rapport.toc
P2-rapport.log
P2-rapport.bbl
P2-rapport.blg
packages.bib
